:root {
  --title-color1: rgb(76, 76, 236);
  --title-color2: cornflowerblue;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 99%;
}

body {
  background-color: #333333ff;
  height: 100%;
  /*border: 4px solid yellow;*/
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /*min-height: var(--original-viewport-height);*/
  background-color: #333333ff;
  background-image: url("./assets/images/despesas-imovel-fundo.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  /*border: 4px solid orangered;*/
}

.App-containerBtnConfig {
  display: flex;
  justify-content: right;
  width: 100%;
  /*border: 4px solid green;*/
}

.App-containerBtnConfig button {
  min-width: 44px;
}

.App-containerBtnConfig button img {
  width: 30px;
  height: auto;
}

.App-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  /*border: 5px solid blue;*/
}

.formGroup {
  background-color: rgba(51, 51, 51, 0.55);
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  border: 1px solid white;
  border-radius: .5rem;
  margin: .2rem;
  padding: .5rem;
  gap: .2rem;
  width: auto;
}

.formGroup h3 {
  color: white;
  width: 100%;
  text-align: center;
  /*border: 1px solid white;*/
}

.formGroup input[type=text], input[type=password] {
  background-color: rgba(255, 255, 255, 0.6);
  max-width: 8.2rem;
  font-size: 1.1rem;
  border-radius: .3rem;
  padding: .07rem;
}

.FormCorretor input[type=text], input[type=password] {
  max-width: 15rem;
}

.formGroup > div > label {
  margin-right: .3rem;
  font-size: 1.1rem;
  color: white;
  /*border: 1px solid orange;*/
}

.FormCorretor, .Configuracao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  padding: .5rem;
  /*border: 2px solid red;*/
}

.FormCorretor > form {
  /*padding: .5rem;*/
  /*border: 1px solid green;*/
}

.FormCorretor > form > .formGroup {
  padding: 0;
}

.FormCorretor > form > .formGroup > h3 {
  flex: 0 0 100%;
  background-color: rgb(233, 91, 19);
  color: white;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  margin-bottom: .2rem;
  padding-left: .3rem;
  padding: .2rem;
}

.FormCorretor > form > .formGroup > div {
  padding-left: .7rem;
  padding-right: .7rem;
  padding-bottom: .2rem;
}


.logo {
  display: flex;
  width: 100%;
  height: 90px;
  margin-top: .4rem;
  margin-bottom: .4rem;
  justify-content: center;
  background-image: url("./assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /*border: 1px solid orange;*/
}

.Resultado-logo {
  height: 65px;
}

table {
  background-color: rgba(51, 51, 51, 0.55);
  border: .1rem solid white;
  border-radius: .3rem;
  padding: .2rem;
  margin: .4rem;
}

.Resultado-titulo {
  background-color: rgba(233, 91, 19, .7);
  color: white;
} 

.Resultado-cabecalho {
  background-color: rgba(165, 42, 42, 0.75);
  position: sticky;
  top: 0;
  color: white;
}

th {
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: .2rem;
}

tbody {
  padding-bottom: 10rem;
}

td, th {
  padding: .1rem;
  padding-left: .1rem;
  padding-right: .25rem;
  color: white;
}

.Resultado-total {
  font-weight: bold;
  color: orange;
  border-bottom: 0;
}

.Resultado-totalGeral {
  color: rgb(233, 91, 19);
  border-top: .1rem solid white;
  border-bottom: 0;
}

.Configuracao-fixa1 {
  display: flex;
  width: auto;
  /*border: 1px solid green;*/
}

.Configuracao-porValor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  border-radius: .5rem;
  border: 2px solid white;
}

.Configuracao-porValor h3 {
  flex: 0 0 100%;
  background-color: var(--title-color1);
  color: white;
  border-top-left-radius: .4rem;
  border-top-right-radius: .4rem;
  margin-bottom: .2rem;
  padding-left: .3rem;
}

.Configuracao-porValor h4 {
  flex: 0 0 100%;
  background-color: var(--title-color2);
  color: white;
  margin-top: .5rem;
  margin-bottom: .2rem;
  padding-left: .3rem;
}

.Configuracao-porValor p {
  color: var(--title-color1);
  background-color: rgba(255, 255, 255, 0.6);
  padding: .4rem;
  border-radius: .4rem;
  width: 60%;
}

.Configuracao-botoesPorValor {
  /*flex: 0 0 100%;*/
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.Configuracao-botoesPersistencia {
  display: flex;
  justify-content: right;
  margin-top: .7rem;
  margin-bottom: .7rem;
  /*border: 2px solid black;*/
}

.botoesPersistenciaCentralizar {
  justify-content: center;
  /*border: 2px solid green;*/
}

button {
  margin: .3rem;
  padding: .2rem;
  font-size: 1rem;
  min-width: 5rem;
}

.Menu > button {
  width: 12rem;
  margin: .1rem;
  background-color: orange;
  color: white;
  font-weight: bold;
  border-radius: .5rem;
  height: 3rem;
}

/*@media screen and (orientation: portrait) and (max-width: 500px) {*/
@media screen and (max-width: 550px) {  
  .App {
    /*min-height: calc(100vh - 105px);*/
    /*background-size: cover;*/
  }

  .App-container {
    /*min-height: calc(100vh - 106px);*/
  }
  
  .FormCorretor input[type=text] {
    max-width: 95%;
    font-size: 1.4rem;
  }

  .FormCorretor > form > .formGroup > div,
  .DespesasGerais > .formGroup > div,
  .SenhaAlterar > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: .4rem;
    /*border: 2px solid orange;*/
  }

  .DespesasGerais {
    align-items: flex-start;
  }

  .DespesasGerais > .formGroup {
    width: 100%;
  }
  
}
